src/main/resources/newService.wsdl

<?xml version="1.0" encoding="utf-8"?>

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/test" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://localhost/test">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/test">
            <s:element name="handleRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="service" type="s:string" />
                        <s:element minOccurs="1" maxOccurs="1" name="emergencyLevel" type="s:string" />
                        <s:element minOccurs="1" maxOccurs="1" name="address" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="handleRequestResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="handleRequest" type="s:boolean" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema></types><message name="handleRequestSoapIn">
    <part name="parameters" element="tns:handleRequest" />
</message>
    <message name="handleRequestSoapOut">
        <part name="parameters" element="tns:handleRequestResponse" />
    </message>
    <portType name="testServiceSoap">
        <operation name="handleRequest">
            <input message="tns:handleRequestSoapIn" />
            <output message="tns:handleRequestSoapOut" />
        </operation>
    </portType>
    <binding name="testServiceSoap" type="tns:testServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="handleRequest">
            <soap:operation soapAction="http://localhost/test/handleRequest" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="testService">
        <port name="testServiceSoap" binding="tns:testServiceSoap">
            <soap:address location="http://127.0.0.1./test_soap/endpoint1.php" />
        </port>
    </service>
</definitions>